* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4A98f7;
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    max-width: 1050px;
    height: 95vh;
}

section {
    background: white;
    border-radius: 7px;
}

.tools-board {
    width: 210px;
    padding: 15px 22px 0;
}

.tools-board .row {
    margin-bottom: 20px;
}

.row .options {
    list-style: none;
    margin: 10px 0 0 5px;
}

.row .options .option {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option:is(:hover, .active) img {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option :where(span, label) {
    color: grey;
    padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) {
    color: #4A98f7;
}

.option #fill-color {
    height: 14px;
    width: 14px;
}

#fill-color:checked ~ label {
    color: #4A98f7;
}

.option #size-slider {
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options {
    display: flex;
    justify-content: space-between;
}

.colors .option {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}

.colors .option:nth-child(1) {
    background-color: white;
    border: 1px solid rgb(102, 102, 102);
}

.colors .option:nth-child(2) {
    background-color: black;
}

.colors .option:nth-child(3) {
    background-color: red;
}

.colors .option:nth-child(4) {
    background-color: lime;
}

.colors .option:nth-child(5) {
    background-color: pink;
}

.colors .option.selected::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid white;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
    border-color: #ccc;
}

.option #color-picker {
    opacity: 0;
    cursor: pointer;
}

.buttons button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .clear-canvas {
    color: grey;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.clear-canvas:hover {
    color: white;
    background: grey;
}

.buttons .save-img {
    background: #4A98f7;
    border: 1px solid #4A98f7;
}

.drawing-board {
    flex: 1;
}

.drawing-board canvas {
    width: 100%;
    height: 100%;
}
.crud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 20px;
}

.crud button, .crud .load {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.save {
    background-color: #4CAF50;
}

#loadBtn {
    background-color: #2196F3;
    text-align: center;
}

.save:hover, .load:hover {
    background-color: #45a049;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.modal-content {
    margin-bottom: 20px;
}

#drawingList img {
    cursor: pointer;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
}

#drawingList img:hover {
    border-color: blue;
}

#loadModal {
    display: none;
}

#drawingList {
    display: flex;
    flex-wrap: wrap;
}

.drawing-item {
    position: relative;
    margin: 10px;
}

.drawing-item img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
}

.drawing-item img:hover {
    border-color: blue;
}

.delete-btn {
    position: absolute;
    border-radius: 5px;
    top: 0;
    right: 0;
    background-color: rgb(197, 67, 67);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 12px;
}

/* Responsive styles */
@media (max-width: 950px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .tools-board {
        width: 100%;
        max-width: 700px;
    }

    .drawing-board {
        width: 100%;
    }

    .drawing-board canvas {
        height: 60vh;
    }
    .buttons{
        /* flex-direction: row; */
        margin-bottom: 0;
        justify-content: space-around;
    }
    .buttons button{
        width: 45%;
    }
    .crud{
        height: 20%;
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .tools-board {
        padding: 10px 15px 0;
    }

    .row .options {
        flex-wrap: wrap;
    }

    .row .options .option {
        width: calc(50% - 5px);
    }
    .colors .options{
        display: flex;
        justify-content: space-between;
    }
    .colors .options .option{
        width: 20px;
    }
    
}

@media (max-width: 500px) {
    .tools-board {
        padding: 10px 10px 0;
    }

    .row .options .option {
        width: 100%;
    }

    .colors .options {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .colors .option {
        margin-right: 8px;
    }
    .colors .options{
        display: flex;
        justify-content: space-between;
    }
    .colors .options .option{
        width: 20px;
    }
}